/* Standard Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Flex */

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Header */

header {
    background-color: #2a5ee8;
    font-size: 20px;
}

.top-bar {
    /* background-color: #daa520;
    border: 3px dashed black; */
    margin-top: 1.5rem;
}

.top-bar a:link {
    color: white;
    text-decoration: none;
}

.top-bar a:hover { 
    text-decoration: underline; !important;
}

.nav-sider {
    width: calc(100% / 6);
}

nav {
    width: calc(100% / 6 * 2);
    text-align: center;
}

/* #logo-head {
    text-align: left;
}

#login {
    text-align: right;
} */

#login button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

/* Bottom Header */

#top-div {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#top-centered {
    min-height: 300px;
    width: 45%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: white;
    /* border: 3px dashed black; */
    /* background-color: #ee82ee; */
}

h1 {
    font-size: 50px;
    margin-bottom: 2rem;
}

#top-centered p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding-top: 1rem;
}

#top-centered button {
    border: 0;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    margin-top: 1.5rem;
}

#white-back {
    color: black;
}

#black-back {
    color: white;
    background-color: #23272a;
}

/* Main */
/* Big Left & Big Right*/

.first-color {
    background-color: white;
}

.second-color {
    background-color: #f6f6f6;
}

.big {
    height: 400px;
    width: 40%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* background-color: #1e90ff;
    border: 3px dashed black; */
}

.small {
    height: 400px;
    width: 30%;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    /* background-color: #ffc0cb; */
    /* border: 3px dashed black; */
}

.small h2 {
    line-height: 50px;
    font-size: 40px;
}

.small p {
    padding-top: 1.5rem;
    font-size: 17px;
}

.second-small {
    padding-left: 8rem;
}

.big img {
    height: 95%;
}

.first-small {
    padding-right: 7.9rem;
}

/* The Big One */

#big-one {
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    /* height: 700px; */
    /* background-color: #228b22;
    border: 3px dashed black; */
}

#big-one h2 {
    line-height: 50px;
    font-size: 40px;
}

#big-one p {
    padding-top: 1.5rem;
    font-size: 18px;
}

#big-one img {
    width: 100%;
}

#big-one h3 {
    font-size: 26px;
    padding-top: 3rem;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

#big-one button {
    font-size: 20px;
    color: white;
    background-color: #8ea1e1;
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: 30px;
    margin-top: 2rem;
}

/* Footer */
/* Top Footer */

.bottom-color {
    background-color: #23272a;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

#bottom-left {
    height: 500px;
    width: 20%;
    margin-bottom: 2.5rem;
    /* margin-top: 0.5rem; */
    /* background-color: #f08080; */
    /* border: 3px dashed black; */
}

#bottom-left h3 {
    color: #7188d9;
    font-size: 30px;
}

small {
    color: white;
}

#bottom-right {
    height: 500px;
    width: 50%;
}

.small-bottom {
    height: 500px;
    width: calc(100% / 4);
    margin-bottom: 2.5rem;
    /* background-color: #20b2aa; */
    /* margin-top: 0.5rem; */
    /* border: 3px dashed white; */
}

#flex-bottom {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 1rem;
    /* background-color: #7fffd4; */
}

.small-bottom {
    height: 500px;
    width: calc(100% / 4);
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    /* background-color: #20b2aa;
    border: 3px dashed white; */
}

.bottom-text {
    padding: 0.4rem;
    background-color: #ffb6c1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px dashed black;
}

#space {
    height: 0.1rem;
    width: 1000px;
    background-color: #c1c1c1;
}

.italian-flag {
    height: 1rem;
}

.icon {
    color: white;
}

#arrow {
    font-size: 0.5rem;
    vertical-align: middle;
}

.top-spacing {
    margin-top: 1rem;
}

.padding-left {
    padding-left: 1rem;
}

h4 {
    color: #7188d9;
}

.spacing-p {
    padding-top: 0.5rem;
}

.spacing-p p {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: white;
}